# === Fichiers Python ===
__pycache__/
*.py[cod]
*$py.class

# === Environnements virtuels ===
venv/
env/
.venv/
ENV/

# === Configurations privées / sensibles ===
.env
.env.local
config.json
*.secret
*.key

# === Logs & caches ===
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.cache/
*.tmp
*.bak

# === Outils & IDE ===
.vscode/
.idea/
*.swp
*.swo
*.swn
*.orig

# === OS / Système ===
.DS_Store
Thumbs.db
desktop.ini

# === Build / Distribution ===
build/
dist/
*.egg-info/
.eggs/

# === Tests ===
.coverage
.pytest_cache/
htmlcov/

# === Jupyter / Notebooks ===
.ipynb_checkpoints/

#bd local
*.db
# === Autres (optionnel) ===
# ajouter ici des fichiers spécifiques à ton projet
# exemple : data/, output/, tmp/, etc.
